<template name="remote">
	<div class="remote">
	    <ul>
			<li class="remoteButton" id="pause"></li>
			<li class="remoteButton" id="rewind"></li>
			<li class="remoteButton" id="play"></li>
			<li class="remoteButton" id="fastforward"></li>
			<li class="remoteButton" id="eject"></li>
		</ul>
	</div>
</template>

<template name="remoteStats">
	<div class="remoteStats">
		<ul>
			{{#each voteStats}}
				<li class="remoteButtonStats" id="{{button}}Stats"><p>{{voteCount}}</p></li>
			{{/each}}
		</ul>
	</div>
</template>