<template name="remote">
	<div class="remote">
	    <ul>
			<li class="remoteButton" id="pause">
				<img src="pause.png">
			</li>
			<li class="remoteButton" id="rewind">
				<img src="rewind.png">
			</li>
			<li class="remoteButton" id="play">
				<img src="play.png">
			</li>
			<li class="remoteButton" id="fastforward">
				<img src="fastforward.png">
			</li>
			<li class="remoteButton" id="eject">
				<img src="eject.png">
			</li>
		</ul>
	</div>
</template>

<template name="remoteStats">
	<div class="remoteStats">
		<ul>
			<li class="remoteButtonStats" id="pauseStats"><p></p></li>
			<li class="remoteButtonStats" id="rewindStats"><p></p></li>
			<li class="remoteButtonStats" id="playStats"><p></p></li>
			<li class="remoteButtonStats" id="fastforwardStats"><p></p>
			</li><li class="remoteButtonStats" id="ejectStats"><p></p></li>
		</ul>
	</div>
</template>